<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link ref="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<h1><%= title %></h1>
<a href="/mongo/write">글쓰기</a>
<table border="1">
    <tr>
        <td>번호</td>
        <td>작성자</td>
        <td>제목</td>
        <td>조회수</td>
        <td>수정일</td>
        <td>등록일</td>
    </tr>
    <%
    for(var i=0 ; i<rows.length ; i++){
        var data = rows[i];

    %>
    <tr>
        <td><%= data.idx %></td>
        <td><%= data.name %></td>
        <td><a href="/mongo/read/<%= data._id %>"><%= data.title %></a></td>
        <td><%= data.hit %></td>
        <td><%= data.modidate %></td>
        <td><%= data.regdate %></td>
    </tr>
    <%
    }
    %>
</table>

</body>
</html>